<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>PROVision</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<script>
		 function validate() {
		   	return true;
		 }
		</script>
	</head>
	<body class="subpage">
{{>header-nologin}}

<h2>PROVision - Execute Genetics Workflow</h2>
<form name="register" action="{{callbackUrl}}" method="POST" onSubmit="return validate()">
	<div>FastQ Input File 1: <input type="text" name="file1" value="{{ file1 }}" /></div>
	
	<div>FastQ Input File 2: <input type="text" name="file2" value="{{ file2 }}" /></div>
	
	<p />
	<input type="submit" name="submit" value="Submit" />
</form>
{{>footer}}
</body>
</html>