<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>PROVision and PennProvenance</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>

		{{>header-loggedin}}
		{{>banner}}

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Your Profile</h3>
							</header>
							<br /><br />
							profiles: {{profiles}}<br />
							<br />
							sessionId: {{sessionId}}


							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Examples</h3>
							</header>
							<ul>
								<li><a href="/workflow/trim/test">TRIM</a> workflow from <a href="https://kim.bio.upenn.edu/">Kim Lab</a></li>
								<li>*Trace all provenance for* <a href="/workflow/htseq/v1_Sample_CM434.htseq.exons.cnts.txt/v2_Sample_CM434.htseq.exons.cnts.txt">TRIM-STAR-HTSEQ</a> workflow from <a href="https://kim.bio.upenn.edu/">Kim Lab</a></li>
								<li>*Difference* the <a href="/workflow/htseqDiff/v1_Sample_CM434.htseq.exons.cnts.txt/v2_Sample_CM434.htseq.exons.cnts.txt/prune.txt">TRIM-STAR-HTSEQ</a> workflow from <a href="https://kim.bio.upenn.edu/">Kim Lab</a></li>
							</ul>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Links</h3>
							</header>
							<p>Provenance <a target="_blank" href="http://localhost:7474">graph</a>.</p>
							<p>&nbsp;</p>
							<p>Provenance <a target="_blank" href="https://pennprovenance.net/index.php?n=Main.Tracker">Tracker</a.</p>
							<p><a target="_blank" href="https://bitbucket.org/penndb/mprov/">mProv</a.</p>
							<p>Data Science course: <a target="_blank" href="https://github.com/odpi/OpenDS4All">OpenDS4All</a.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>


		{{>footer}}
	</body>
</html>